<nav class="sidebar">
  <ul>
    <li><a href="/">Dashboard</a></li>
    <!-- Future: <li><a href="/jobs">Jobs</a></li> -->
    <!-- Future: <li><a href="/customers">Customers</a></li> -->
    <!-- Future: <li><a href="/payments">Payments</a></li> -->
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>
